# --- Core API & Async ---
fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
asyncpg
sqlalchemy

# --- LangChain & LangGraph (Orchestration) ---
langgraph
langchain
langchain-core
langchain-community
langchain-ollama
langgraph-checkpoint-postgres

# --- RAG & File Processing ---
# PDF, CSV, DOCX and Image Processing
pypdf
pandas
unstructured[all-docs]
pillow
lxml

# --- Database & Vectors ---
langchain-postgres
psycopg[binary]
psycopg_pool
pgvector
psycopg2-binary

# --- Observability ---
structlog
opentelemetry-api

# --- Frontend ---
streamlit
requests
watchdog